body {
    font-family: 'Nunito', sans-serif;
}


/* navigation bar */

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.nav-item a:hover::after {
    content: '';
    display: block;
    border-bottom: 4px solid #000000;
    width: 40% !important;
    margin: auto;
    padding-bottom: -50px;
    margin-bottom: -1px;
}


/* Float four columns side by side */

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}


/* Remove extra left and right margins, due to padding */

.row {
    margin: 0 -5px;
}

.row p{
    text-align: justify;
}


/* Clear floats after the columns */

.row:after {
    content: '';
    display: table;
    clear: both;
}


/* Responsive columns */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    /* hover navigation */
    .nav-item a:hover::after {
        display: none;
    }
}


/* Style the counter cards */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    height: 20rem;
    width: 10rem;
}
